@model AtomicSynergistics.DATA.EF.Models.Location

@{
    ViewData["Title"] = "Create Location";
}

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Create New:</h3>
                <h4 class="card-title text-center">Location</h4>
                <hr/>
                <form asp-action="Create" class="forms-sample">
                    
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div class="form-group row">
                        <label asp-for="LocationAddress" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input type="text" asp-for="LocationAddress" class="form-control bg-clientBlack text-light">
                            <span asp-validation-for="LocationAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="LocationCity" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="LocationCity" class="form-control bg-clientBlack text-light">
                        </div>
                        <span asp-validation-for="LocationCity" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="LocationState" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="LocationState" class="form-control bg-clientBlack text-light">
                        </div>
                        <span asp-validation-for="LocationState" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="LocationPostalCode" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="LocationPostalCode" class="form-control bg-clientBlack text-light">
                        </div>
                        <span asp-validation-for="LocationPostalCode" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="CountryId" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="CountryId" class="form-control bg-clientBlack text-light" asp-items="ViewBag.CountryId"></select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-clientGreen me-2">Submit</button>
                    <a asp-action="index" class="btn btn-dark">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
