@model AtomicSynergistics.DATA.EF.Models.SaleProduct

@{
    ViewData["Title"] = "Create Sale Product";
}

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Create New:</h3>
                <h4 class="card-title text-center">Sale Product</h4>
                <hr />
                <form asp-action="Create" class="forms-sample">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">
                        <label asp-for="SaleId" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="SaleId" class="form-control bg-clientBlack text-light" asp-items="ViewBag.SaleId"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ProductId" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="ProductId" class="form-control bg-clientBlack text-light" asp-items="ViewBag.ProductId"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="SaleQuantity" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="SaleQuantity" class="form-control bg-clientBlack text-light">
                        </div>
                        <span asp-validation-for="SaleQuantity" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-clientGreen me-2">Submit</button>
                    <a asp-action="index" class="btn btn-dark">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
